### Global gitingore ###
./nbproject/private/

# NetBeans
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# PhpStorm
.idea/

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# TextMate
*.tmproj
*.tmproject
tmtags

# VIM
.*.sw[a-z]
*.un~
Session.vim

# PhpEd
*.ppj

# Composer files
composer.lock
vendor/

